# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# e2e

/reports
/t-dist
/*results*.json

# System Files
.DS_Store
Thumbs.db
/package-lock.json
